@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-7zoitj17DUgOc3LryFLW01G0SSR41jKUsA7MzyzrJysHxvNIPwkqbP+q3GMIHNF9XhF1Rksl/iv+U8rJyNlUnw==" crossorigin="anonymous" />

<!-- start of body secation -->
<div class="body">
    <!-- left secation  -->
    <div class="leftSecation">
        <!-- slider -->
        <div class="slider">
            <div class="slides">
                <img src="~/Images/pic1.jpg" alt="Slide 1" />
                <img src="~/Images/pic2.jpg" alt="Slide 2" />
                <img src="~/Images/pic3.jpg" alt="Slide 3" />
            </div>
            <div class="arrow arrow-left">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="arrow arrow-right">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="dots"></div>
        </div>
    </div>

    <div class="glass">
        <h1>Al-Morug Company</h1>
        <h2>for real estates and <br />investment in Georgia</h2>
        <div id="btss">
            <a asp-controller="Home" asp-action="Projects"><button class="btn">Projects</button></a>
            <a id="real" asp-controller="Home" asp-action="RealState"><button class="btn">Real State</button></a>
        </div>
        <span id="Contact">Contact Us : </span>
        <div id="social" class="social-icons">
            <a href="https://www.facebook.com/IqAlmorug">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/IqAlmorug">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/iqalmorug">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@@Almorugcompany">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://maps.app.goo.gl/qeEBGGtcQMguJELE8">
                <i class="fa fa-map-marker"></i>
            </a>
            <a href="https://wa.me/+995595521037">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>

</div>

<div class="investment">
    <h3>Development investment and real estate</h3>
    <br>
    <p>
        Real estate is the best investment currency for our company,
        as we provide optimal investment opportunities for our clients
    </p>

    <!-- <i class="fas fa-hand-holding-usd"></i>
     <i class="fas fa-building"></i>
      -->
    <!-- cards for investment -->
    <div class="coun-card">

        <div class="card">

            <span class="fahome"><i class="fas fa-home"></i></span>

            <br>

            <p class=" fahometext">Our company specializes in real estate development and investment</p>
        </div>

        <div class="card">

            <span class="fahome"><i class="fas fa-hand-holding-usd"></i> </span>

            <br>

            <p class=" fahometext">Investment in real estate can be a wise financial decision</p>
        </div>

        <div class="card">

            <span class="fahome"><i class="fas fa-building"></i></span>

            <br>

            <p class=" fahometext">We offer a wide range of real estate services to meet our clients' needs</p>
        </div>
    </div>


</div>

</div>
